:root {
    --darkBlue: #4E00B1;
    --black: #010101;
}

#colorDarkBlue {
    color: var(--darkBlue);
}

#bgTransparent {
    background-color: transparent;
    color: var(--black);
}

body {
    background-color: #FBF5FF;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
}

.navitem {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #010101;
}

button {
    width: 255px;
    height: 69px;
    background-color: var(--darkBlue);
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 60px;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

section ul {
    padding-left: 0rem;

}

section li {
    list-style: none;
    margin-bottom: 9px;
    margin-right: 10px;
}

section li img {
    /* list-style: none; */
    margin-right: 15px;
}

.trustSection {
    /* height: 645px; */
    background-color: white;
    border-radius: 33px;
}

.hero-heading {
    width: 547px;
    margin-bottom: 53px;
}

p {
    /* width: 547px; */
    margin-bottom: 40px;
}

footer {
    height: 80px;
    background-color: var(--darkBlue);
}